<div class="row">
    <div class='span4 offset6' id="new-password-reset-div">
        <div id="lost-password-header">
           <h4>Submit your email to reset your password.</h4> 
        </div>
        <%= form_tag password_resets_path, method: :post do %>
            <div class="field">
                <%= text_field_tag :email, params[:email], placeholder: "Email" %>
            </div>
            <p>An email will be sent to the email address that we have on file for you.</p>

            <div class="actions"><%= submit_tag "Reset Password", class: 'btn btn-primary' %></div>
        <% end %>
    </div>
</div>
