<div class="row top-spacer">
    <div class="span3" style="height:100px;background:white">
        
    </div>
    <div class="span6" style="height:100px;background:white">
        <h2>
            <%= @user.name %>
        </h2>
    </div>
</div>
