<% if @folio.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-error">
            The form contains <%= pluralize(@folio.errors.count, "error") %>.
        </div><!-- end of alert alert-error-->
        <ul>
            <% @folio.errors.full_messages.each do |msg| %>
                <li>* <%= msg %></li>
            <% end %>
        </ul>
    </div><!-- end of error_explanation -->
<% end %>