<% @pics.each do |pic| %>
    <article class="tile ftg-set-1">
        <%= link_to '#' do  %>
            <%= image_tag(pic.photo.url, class: 'item') %>
            <div class="caption"><p>Test captionCaption</p></div>
            <div class="caption"><p>Cool Second Caption</p></div>
        <% end %>  
    </article>
<% end %>

