<% @pics.each do |pic| %>
    <article class="tile ftg-set-1">
        <%= link_to pic.photo.url do  %>
            <%= image_tag(pic.photo.url, class: 'item') %>
            <div class="new-thing" style="position:absolute;top:0;left0;background:blue;color:blue">Thing</div>
            <div class="caption">
                <p>Test caption</p>
                <p>This is another caption</p>
            </div>
        <% end %>  
    </article>
<% end %>

