<div class="span12 place-nav">
    <%= link_to 'Sync Gmail', invite_album_path(@album), 
        class: 'btn btn-primary btn-large' %>
</div>
<div class="span12">
    <div class="row">
        <% @pics.each do |pic| %>
            <div class="span3">
                <div class="nailthumb-container square-thumb">
                    <%= image_tag(pic.photo.url, class: 'item') %>
                </div>
            </div>
        <% end %> 
    </div>
</div>