<% @pics.each do |pic| %>
    <article class="tile ftg-set-1">
        <%= link_to image_tag(pic.photo.url, class: 'item'), "#" do  %>
            <div class="caption"><p>Test captionCaption</p></div>
        <% end %>  
    </article>
<% end %>