/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/
 

#white-logo {
 height:80px;
 margin-left:-5px;
}

header ul {
 list-style-type:none;
 vertical-align:bottom;
 margin-left:0px;
 margin-top:0px;
 float:right;
}
header ul li {
 color:#666666;
 font-weight:600;
 margin-right:0px;
 margin-bottom:30px;
 margin-top:39px;
 margin-left:10px;
 display:inline-block;
}

#sidebar {

}
#sidebar ul {
    font-size: 25px;
    font-weight:600;
}
#sidebar ul li {
    list-style-type:none;
    line-height:25px;
    margin-bottom: 25px;
    margin-left:-25px;
}
#sidebar ul li.active a {
    color:#0099CC;
}
#sidebar ul li a {
    text-decoration:none;
    color:#666666;
}
#content ul {
    list-style-type:none;
    margin-left:60px;
    margin-top:15px;
}

#content ul li div {
     margin-bottom:8px;
}
#content ul li div input {
     float:left;
}
