body#home-page {
    background: url(/assets/party-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     padding:0px;
}

.folio-shine {
    background: gray;
    height:80px;
    opacity: .8;
    width:50%
}
#header-buttons .span12{
}

#header-buttons .span12 div.button-container {
    float:right;
}

#header-buttons .span12 p {
    display:inline-block;
    margin-top:-72px;
    margin-left:10px;
    font-size:20px;
    padding-top: 10px;
}
