body#home-page {
     padding:0px;
}

.folio-shine {
    background:black;
    height:135px;
    width:50%;
    border-radius: 20px;
    -moz-box-shadow: 3px 3px 3px #232323;
    -webkit-box-shadow: 3px 3px 5px #232323;
    box-shadow: 3px 3px 5px #232323;
}
#folio-logo{
    margin-left:70px;
    margin-top: 10px;
    margin-right: 10px;
    background:black;
    border-radius:20px;
    float:right;
}
#samsung {
    float:right;
    margin-top:20px;
    margin-right:-10px;
}
#header-buttons .span12{
}

#header-buttons .span12 div.button-container {
    float:right;
    margin-top:-47px;
}

#header-buttons .span12 p {
    display:inline-block;
    margin-left:10px;
    font-size:20px;
    padding-top: 10px;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index:-5
}
