<header class="navbar navbar-fixed-top" id='header'>
  <nav class="navbar-inner">
    <div class="container">
      <%= link_to image_tag('WebLogo.png', id: 'white-logo'), '#', class: 'logo' %>
      <ul>
          <li>
              <%= link_to(image_tag('icons/CreateFolioButton.png'), new_album_path) %>
              <%= link_to 'CREATE A FOLIO', new_album_path %>
          </li>
          <li>
              <% if current_user %>
                  <%= link_to 'Sign Out', logout_path, 
                       method: :delete, 
                       confirmation: "Are you sure" 
                  %>
              <% end %>
          </li>  
      </ul>
    </div>
  </nav>
</header>