<div class="span5" id="folio-sidebar">
    <div class="row">
         <div class="span5">
             <%= image_tag('PhoneWithDirections.png', id: 'info-phone') %>
         </div><!-- end of span5-->
    </div><!-- end of row-->
</div><!-- end of span5 folio-sidebar -->